html,
body,
#root,
.App {
  height: 100%;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.react-flow__node-custom {
  padding: 10px;
  /* background-color: #556677; */
  color: rgb(25, 37, 214);
  margin-bottom: 335px;
  float: left;
}

.Button{
  width: 20px;
}
